.custom-singin-button {
  background-color: hsl(191, 100%, 75%);
  font-weight: bold;
}
.custom-singin-button:hover {
  background-color: hsl(191, 92%, 47%);
}
.custom-singup-button {
  background-color: hsl(0, 0%, 83%);
  font-weight: bold;
}
.custom-singup-button:hover {
  background-color: hsl(0, 1%, 66%);
}
.singin-button{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.singup-button{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

}
.singup-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0.3rem;
}
.singin-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0.3rem;
  }
  .singin-card{
    border:none;
    background: transparent;
    margin: 0.5rem 0.5rem 0 0;
  }
  .singin-logo{
    width:3.125rem;
    height:auto;
  }
  