:root{
    --bg_color_one: rgba(231, 16, 16, 0.804);
    --bg_color_two: rgb(192, 158, 158);
    --bg_color_three: rgb(199, 199, 234);
}
.demo{
    background-image: linear-gradient(to left bottom, var(--bg_color_one),var(--bg_color_two),var(--bg_color_three));
}
.welcome{
    position:relative;
    border:none;
    height:15em;
    box-sizing: border-box;
    color: rgba(4, 2, 53, 0.868);
    background-image: url(../images/jason-leung-Xaanw0s0pMk-unsplash.jpg);
    background-size: cover;
    background-position: center;
    
}
.welcome>.col>h1{
    border: solid 5px  rgb(6, 173, 233);
    border-radius: 0.8rem;
    box-shadow: 1px 1px 5px 5px rgb(4, 12, 124),1px 1px 5px 5px rgb(4, 12, 124), 1px 1px 5px 5px rgb(4, 12, 124);
    width:fit-content;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 5rem;
    font-weight: bold;
    text-shadow: 3px 3px 3px lightskyblue;
    position:absolute;
    padding: 0.2rem 0.9rem;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}
.profile-pic{
    min-height: 33em;
    max-height: auto;
}
.contect{
    min-height:10em;
    max-height: auto;
    display:flex;
    justify-content: center;
    align-items: center;
    border: solid 2px green;
}