@import './root/root.css';
.manu-bar{
    background-color: var(--background-color1);
}
.col{
    margin: 0;
}
.nav{

display: flex;
justify-content: end;
}
.nav>.nav-item{
    margin: 0 0 0 1rem;
    padding: 5px 0;
}
.nav>.nav-item>a{
    color:var(--background-color);
}
.btn-admin{
    display: flex;
    justify-content: end;
}
button{
    padding: 5px 0;
    margin:0 2rem;
    background-color: transparent;
    color:var(--background-color);
    border:none;
}